<ol>
<% @restaurant_scores.each do |restaurant, score| %>
  <li>
    <%= image_tag restaurant.image.url(:thumb) %>
    <%= restaurant.name %>
    <%= restaurant.description %>
    <%= score %>/5
    <%= link_to restaurant.name, "/restaurant/#{restaurant.id}" %>
    <%= restaurant.description %> <br>
  </li>
  <% end %>
</ol>
<% if @restaurants.empty? %>
  <%= "There are no restaurants :'(" %>
<% end %>
