
<div class="jumbotron">
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="login-container"><h1 class="restaurant-index">Nearby Restaurants</h1>
        <% @restaurant_scores.each do |restaurant, score| %>
         <div class="restaurant-container">
           <div class="index-image"><%= image_tag(restaurant.image.url(:thumb), :class => "img_preview") %></div>
           <div class="index-info">
           <h3><%= restaurant.name %></h3>
           <h4><%= restaurant.description %></h4>
           <h4>Average Score: <%= score == "Unreviewed" ? score : score.to_s + "/5" %></h4>
           <%= button_to "Read More", "/restaurant/#{restaurant.id}", class: "btn btn-default", method: :get %>
           </div>
        </div>
        <% end %>
    <% if @restaurants.empty? %>
      <p>There are no restaurants :'(</p>
    <% end %>
  </div>
  </div>
  <div class="col-md-1"></div>
  </div>
</div>
