<div class="jumbotron">
<div class="container">
  <div class="row top-buffer"></div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

<div class="login-container" >

<p>Add a restaurant</p>

<%= form_for :restaurant, url: '/restaurant', method: :post do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Name", class: "form-control" %><br>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Description", class: "form-control"  %>
    <%= f.label :address %>
    <%= f.text_area :address, placeholder: "Address", class: "form-control"  %>
    <br />
    <%= f.submit("Add", class: "btn btn-default center-block") %>
<% end %>

</div>
</div>
<div class="col-md-3"></div>
</div>
</div>
<div>
