<p>Add a restaurant</p>

<%= form_tag("/restaurant", method: "post") do %>
  <%= label_tag(:name, "Restaurant name:") %>
  <%= text_field_tag(:name) %>
  <%= label_tag(:description, "Description:") %>
  <%= text_field_tag(:description) %>
  <%= submit_tag("add") %>
<% end %>
