<div class="jumbotron">
<div class="container">
  <div class="row top-buffer"></div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

<div class="login-container" >
  <h1><%= @restaurant.name %></h1>
  <h2> Average Rating - <%= @score %>/5 <h2>
  <h3><%= @restaurant.description %></h3>
  <br>
  <% if !@check %>
  <div class="btn-group-justified">
  <div class="btn-group"><%= button_to "Edit", "/restaurant/#{@restaurant.id}/edit", method: :get, class: "btn btn-default" %></div>
  <div class="btn-group"><%= button_to "Delete", "/restaurant/#{@restaurant.id}", method: :delete, class: "btn btn-default" %></div>
</div>
<% end %>
<br>
 <div class="btn-group-justified">
  <div class="btn-group"><%= button_to "Add Review", "/restaurant/#{@restaurant.id}/review/new", method: :get, class: "btn btn-default" %></div>
  <div class="btn-group"><%= button_to "View Reviews", "/restaurant/#{@restaurant.id}/review/", method: :get, class: "btn btn-default" %></div>
</div>
</div>
</div>
<div class="col-md-3"></div>
</div>
</div>
<div>
