<div class="jumbotron">
<div class="container">
  <div class="row top-buffer"></div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">


<div class="login-container" >
  <div class="row">
    <div class="col-md-6">
      <h1><%= @restaurant.name %></h1>
        <%=  image_tag @restaurant.image.url %>
      <h2><%= @restaurant.description %></h2>
      <br>
      <% if @check %>
      <div class="btn-group-justified">
      <div class="btn-group"><%= button_to "Edit", "/restaurant/#{@restaurant.id}/edit", method: :get, class: "btn btn-default" %></div>
      <div class="btn-group"><%= button_to "Delete", "/restaurant/#{@restaurant.id}", method: :delete, class: "btn btn-default" %></div>
      </div>
      <% end %>
      <br>
    </div>
    <div class="col-md-6">
      <div style="height:40px;"></div>
      <%= render 'review/new'%>
  </div>
  <div class="row">
    <div class="col-md-12">
          <%= render 'review/index'%>
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJNb-VAbUcdkgRvRTBd6ymuCE&key=AIzaSyCvpkVLZjk4fB-71L_Qi6y3yKgzzTCuTKA" allowfullscreen></iframe>
    <iframe width="800" height="450" frameborder="0" style="border:0" src='<%= "https://www.google.com/maps/embed/v1/view?key=AIzaSyCvpkVLZjk4fB-71L_Qi6y3yKgzzTCuTKA&center=#{@restaurant.latitude},#{@restaurant.longitude}&zoom=17" %>' allowfullscreen></iframe>
    </div>

  </div>
</div>
</div>
<div class="col-md-1"></div>
</div>
</div>
<div>
